@keyframes rulesLeadShow {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rulesItemPointShow {
  from {
    transform: scale(0);
    transform-origin: center;
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rulesItemTextShow {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}